/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */
@font-face {font-family: 'Headland One'; src: url('../font/HeadlandOne.ttf');}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }::selection{text-shadow:0 0 20px #017ecd,1px 1px 1px #808080}
a:link { color: #fff; text-decoration: none}
a:visited { color: #fff; text-decoration: none} 
a:active { color: #fff; text-decoration: none}
a:hover { color: #fff; text-decoration: none }
a:hover { color: #fff; text-decoration: none }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin:0; padding:0;height: 100%  }
body { margin:0; padding:0;  font-size: 13px; line-height: 1.231; height: 100% }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"], [role="button"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
/* ==|== primary styles =====================================================
   Author: Felipe Velasquez Casto.
   ========================================================================== */

#tv{
 
  background-repeat: no-repeat;
  
  background-color: #000;
  height: auto;
  min-height: 100%;
  width: 100%;
}
#logo_sony{
position: absolute;
top: 1em;
right: 1em;
width:20em;

}

#panel_lateral{
  background-image: url("../img/Fondo.png");
  box-shadow: 10px 10px 30px #000;
  height: 1024px;
  left:0;
  max-width: 25%;
/*   opacity:0.7;
  filter:alpha(opacity=70); /* For IE8 and earlier */
  position: relative;
  top:0;
  width: 25%;
  z-index: 10;
}

#panel_lateral ul li:first-child{
  border-top: solid 2px #a0a0a0;
}
#panel_lateral ul li:last-child{
  border-bottom : solid 2px #a0a0a0;
}
#panel_lateral ul li {
  background: none ;
  color: #fff;
  border-top: solid 1px #a0a0a0;
  border-bottom: solid 1px #a0a0a0;
  font-size: 2em;
  font-family: 'Headland One';
  font-weight:bold;
  list-style-type:none;
  padding: .3em 0 .3em 1em;
  margin-left: -40px;
  min-width: 200px;
  text-shadow: -0.1em -0.07em #333;
  width: 103%;
}


#panel_lateral ul li:hover {
  
   background: #fd731a; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkNzMxYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZkNzMxYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iI2ZjNjYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYzY2MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #fd731a 0%, #fd731a 50%, #fc6600 52%, #fc6600 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fd731a), color-stop(50%,#fd731a), color-stop(52%,#fc6600), color-stop(100%,#fc6600)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fd731a 0%,#fd731a 50%,#fc6600 52%,#fc6600 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fd731a 0%,#fd731a 50%,#fc6600 52%,#fc6600 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fd731a 0%,#fd731a 50%,#fc6600 52%,#fc6600 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fd731a 0%,#fd731a 50%,#fc6600 52%,#fc6600 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd731a', endColorstr='#fc6600',GradientType=0 ); /* IE6-8 */
  border-top: solid 1px #a0a0a0;
  border-bottom:   solid 1px #a0a0a0;
  z-index: 200;
}


.punta:after{
background-image: url("../img/punta.png");
width: 2em;
height: 2em;
content: "";
color: white;
position: relative;
bottom: 0px;
left: 61%;
padding: .4em 2em .4em 0;
background-size: 1.9em;
background-repeat: no-repeat;
background-position-y: 3px;
z-index: 100;

}
.puntahide:after{
display:none;

}

li a {

  min-width: 100px;
}

.no-seleccionable {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

#logo_rac{
  margin: 2em 25% 2em 25%;
}

#div_text{

  background-color: transparent;
  background-image: url("../img/Fondo.png");
  border: solid 1px #000 ;
  border-radius: 1em 1em 0 0;
  bottom: 0px;
  height: auto;
  padding: 0 2em 0 2em;
  position: absolute;
  left:25%; 
 /* opacity:0.3;
  filter:alpha(opacity=40); /* For IE8 and earlier */
  width: 50%;
  z-index: 300;
}

#div_text p{
  margin:30px 40px;
  font-weight:bold;
  color:#fff;
  font-size:1.1em; 
}

#expandText{

  position: absolute;
  left: 90%;
  top: .5em;
  z-index: 350;
}
.expandido{
  overflow: hidden;
  height: 4em !important;
}
#closeVideo img {
  height: 4em;
  position: absolute;
  left: 95%;
  top: -2em;
  width: 4em;
  z-index: 350;
}


#closeVideo img {
  height: 4em;

  width:4em;
  z-index: 350;
}

#closeGalerias img {
  height: 4em;
  position: absolute;
  left: 95%;
  top: -2em;
  width: 4em;
  z-index: 350;
  height: 4em;

  width:4em;
 
}

#expandText img{

  height:2.5em;
  width: 2.5em;
}


#videos{
  border: solid 2px #a0a0a0;
  border-radius: 1em;
  background-color: #000;
  background-image: url("../img/Fondo.png");
  box-shadow: 10px 50px 30px #000;
  left: 0;
  margin: 10%;
  max-height: 80%;
  position: absolute;
  height: 80%;
  top:0;
  width: 80%;
  z-index: 305;
  display: none;
}
#videosInside{
  height: 100%;
  overflow: hidden;
  width: 100%;
}
#contenedorVideos{

  height: 80%;
  padding: 5%;
  width: 100%;
  overflow: hidden;
 

}
.entradaVideo{
  color: #fff;
  border: solid 1px #a0a0a0;
  display: inline-block;
  font-family: 'Headland One';
  margin-right: -5px;
  max-width: 200px;
  padding: 2em 0 0 2em;
  height: 100%;
  text-shadow: -0.1em -0.07em #a0a0a0;
  width: 24%;
}

.entradaVideo p {
  height: 60%;
  max-height: 60%;
  min-height: 60%;
  overflow-y: hidden;
  overflow-y:  scroll;
}
.iframeVideo{

  display: inline-block;
  height: 100px;
  width: 200px;
  margin-right: 3em;
}
.youtube{
  height: 90%;
  width: 90%;

}

.videoFull{
  position:absolute;
  top: 10%;
  left:10%;
  height:80%;
  width:80%;
}






#galerias{
  border: solid 2px #a0a0a0;
  border-radius: 1em;
  background-color: #000;
  background-image: url("../img/Fondo.png");
  box-shadow: 10px 50px 30px #000;
  display: none;
  left: 0;
  margin: 10%;
  max-height: 80%;
  position: absolute;
  height: 80%;
  top:0;
  width: 80%;
  z-index: 305;
}
#galeriaInside{
  height: 100%;
  overflow: hidden;
  width: 100%;
}
#contenedorGalerias{
  height: 100%;
  padding-right: 10%;
  left: 0;
  width: 300%;
  overflow: hidden;
  position: relative;
  top: 0;

}
.bloqueGaleria{
 display: inline-block;
  width: 19em;
  height: 60%;
  min-height: 60%;
  max-height: 60%;
}




.laGaleria{

 
  height: 30%;
  
  width: 100%;
}
.titulo_galeria{
  color: #fff;
  font-size: 2em;
  font-family: 'Headland One';
  font-weight:bold;
  text-shadow: -0.1em -0.07em #333;
}

/* ==|== media queries ====================================================== */



@media screen and (min-width: 1920px) { /* Full-HD styles */
.punta:after{
left: 61%;
}

 }
@media screen and (min-width: 1280px) and (max-width: 1920px) { /* HD-Ready  styles */ 
.punta:after{
left: 61%;
}
}
@media screen and (max-width: 1280px) { /* smaller than HD-Ready styles */ 
.punta:after{
left: 41%;
}
}



/* ==|== non-semantic helper classes ======================================== */

.nocallout {-webkit-touch-callout: none;}
textarea[contenteditable] {-webkit-appearance: none;}
.gifhidden {position: absolute; left: -100%;}
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }